<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user, partial: "card", as: :user %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "users/user_items" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "users/user_sent_messages" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "users/user_recieved_messages" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "users/user_bought_items" %>
  </div>
</div>
  <!-- Show Page Customization end -->
