<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">

    <%= f.hidden_field :sender_id, value: current_user.id%>
  </div>

  <div class="form-group">
    <% if sender.present? %>
    <%= f.hidden_field :recipient_id, value: sender.id %>
    <% else %>
    <%= f.hidden_field :recipient_id, value: @item.seller_id%>
    <% end %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <div class="form-group">
    <%= f.label :body, sender.present? ? "Respond to #{sender.name}" : "Body" %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Send message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
