<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Items

      <%= link_to new_item_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3 mb-3">
    <%= render partial: "items/items_search_form" %>
  </div>
  <div class="col-md-9">
    <div class="card">
      <table class="table">
        <tr>
          <th>

          </th>

          <th>
            Title
          </th>

          <th>
            Price
          </th>

          <th>
            Category
          </th>

          <th>
            Seller
          </th>

          <th>
          </th>

          <th>
          </th>
        </tr>

        <% @items.each do |item| %>
        <tr>
          <td>
            <img src="<%= item.image %>" width="80">
          </td>

          <td>
            <%= item.title %>
          </td>

          <td>
            <%= number_to_currency item.price %>
          </td>

          <td>
            <%= item.category %>
          </td>

          <td>
            <%= item.seller.name %>
          </td>

          <td>
            <% if item.buyer.present? %>
              <span class="badge badge-success">Sold</span>
            <% end %>
          </td>

          <td>
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="card-footer d-flex justify-content-center">
        <%= paginate @items, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-center mb-3">

</div>
